@import "config";

.register-pg {
  .auth-form {
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: 5rem auto 10rem;
    padding: 1rem 0 5rem;
    border-radius: 0.8rem;
    border: 2px solid map-get($colors, app-blue);
    background: rgba($color: map-get($colors, app-green), $alpha: 0.1);
    button {
      cursor: pointer;
      background: map-get($colors, app-blue);
      color: white;
      &:disabled {
        opacity: 0.6;
      }
      font-weight: 300;
      padding: 0.5rem 2rem;
      border-radius: 0.8rem;
      margin-top: 5rem;
    }
    .err {
      color: rgb(180, 36, 36);
      margin: auto;
      line-height: 2;
      font-weight: 600;
      font-family: $fontSecondary;
    }
    .form-item {
      width: 100%;
      text-align: center;
      margin-top: 3rem;
      label {
        display: block;
        position: relative;
        line-height: 1.5;
        max-width: 500px;
        width: 100%;
        margin: auto;
        input {
          display: block;
          width: 90%;
          padding: 0.75rem;
          max-width: 500px;
          margin: 2rem auto;
          border-radius: 0.6rem;
          border: 1px solid map-get($colors, app-blue);
        }
        svg {
          position: absolute;
          bottom: 0.8rem;
          right: 3.75rem;
        }
      }
    }
  }
}
