@import "config";

.home-pg {
  .home-content {
    margin: 50px 0;
    text-align: center;
    .search-form{
      margin: 0 0 50px;
      label {
        font-size: 20px;
        input{
          font-size: 18px;
          border-radius: 30px;
          width: 200px;
          height: 30px;
          margin-left: 10px;
          padding-left: 15px;
          outline: none;
        }
      }
      button {
        padding: 6px 10px;
        margin: 0 10px;
        border-radius: 20px;
      }
    }
    .wiki-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      ul{
        display: flex;
        background-color: #ffffff;
        width: 380px;
        height: 100px;
        margin: 10px;
        border-radius: 30px;
        img{
          width: 30%;
          border-radius: 30px;
        }
        li:nth-child(2) {
          margin: 35px auto;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }
  // text-align: center;
  // padding: 20px;

  // form {
  //   padding-bottom: 20px;

  //   label {
  //     font-size: 25px;

  //     input {
  //       border-radius: 15px;
  //       outline: none;
  //       width: 25vw;
  //       height: 4vh;
  //       font-size: 18px;
  //       padding-left: 10px;
  //       margin: 0 10px;
  //     }
  //   }


  // .unordered {
  //   margin: 0 auto;
  //   width: 40%;
  //   text-align: start;

  //   ul {
  //     // border: 1px solid black;
  //     border-radius: 20px;
  //     margin: 15px 0;
  //     padding: 10px;
  //   }

  //   li {
  //     margin-top: 10px;

  //     &:nth-child(1) {
  //       font-size: 25px;
  //       border-bottom: 1px solid black;
  //       padding: 0 0 4px;
  //     }

  //     &:nth-child(2) {
  //       font-size: 15px;
  //     }
  //   }
  // }

.home-content {
  h2 {
    text-align: center;
    @include font-size($h2-font-sizes);
  }

  .content-block {
    @include font-size($sub-font-sizes);
    text-align: center;
    width: 100%;
    margin: auto;
    max-width: 1300px;

    li {
      display: inline-block;
      width: calc(100% / 3);

      a {
        display: inline-block;
        color: map-get($colors, app-white);
        font-weight: bold;

        figure {
          height: 400px;
          margin: 0;
          line-height: 2;
          position: relative;

          figcaption {
            position: absolute;
            font-family: $fontSecondary;
            bottom: 0;
            width: 100%;
            background: map-get($colors, app-green);
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}
}