@import "config";

.home-pg {
  & > h2 {
    font-style: italic;
  }
  .home-content {
    margin: 20rem 0;
    text-align: center;

    .search-form {
      margin: 0 0 50px;

      input {
        @include font-size($h3-font-sizes);
        border-radius: 0.8rem;
        width: 200px;
        margin-left: 10px;
        line-height: 1.75;
        padding: 0.5rem 1rem;
        outline: none;
      }

      button {
        @include font-size($h3-font-sizes);
        padding: 0.5rem 2rem;
        margin: 0 10px;
        border-radius: 0.8rem;
        outline: none;
      }
    }

    .wiki-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      a {
        color: black;

        &:visited {
          color: black;
        }
        ul {
          display: flex;
          text-align: left;
          background-color: #c6c9bd;
          width: 380px;
          height: 100px;
          margin: 10px;
          border-radius: 0.8rem;
          border: 4px solid black;

          &:hover {
            border-color: map-get($colors, app-blue);
            color: map-get($colors, app-blue);
          }
        }
        img {
          width: 28%;
          background-color: #c6c9bd;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }

        li:nth-child(2) {
          margin: 35px auto;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
    margin: 15rem auto;
    background-color: rgba($color: map-get($colors, app-white), $alpha: 0.65);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-attachment: fixed;
    border-radius: 0.8rem;
    backdrop-filter: blur(5px);
    padding: 5rem 2rem;
    max-width: 1500px;
    h2 {
      text-align: center;
      font-family: $fontSecondary;
      line-height: 1.25;
      font-weight: 300;
      margin: 2rem auto 5rem;
      @include font-size($bigh-font-sizes);
    }

    .content-block {
      @include font-size($p-font-sizes);
      text-align: center;
      width: 100%;
      max-width: 1300px;
      margin: auto;
      opacity: 0.98;
      li {
        display: inline-block;
        width: calc(100% / 3);

        a {
          display: inline-block;
          color: map-get($colors, app-white);
          font-weight: bold;
          width: calc(100% - 20px);
          margin: 10px;
          figure {
            height: 400px;
            margin: 0;
            line-height: 2;
            position: relative;
            figcaption {
              position: absolute;
              font-family: $fontSecondary;
              bottom: 0;
              width: 100%;
              padding: 0.5rem;
              background: map-get($colors, app-dark);
              color: map-get($colors, app-white);
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }
    }
  }
}
